 .my-bg-color{
    background: #264653;
    color: #fff;
}

.my-bg-color p{
    color:#E0E0E0,
}
.btn{
    background:#e76f51;
    color:#fff;
}
    

.gray-scale{
    -webkit-filter: grayscale(100%);
}
.colored-text{
    color:#e76f51;
}